if PLAT_MP25XXF

choice
	prompt "System Type"
	default ARCH_MP2520F

config	ARCH_MP2520F
	bool "MP2520F (MMSP2) SoC"

config	ARCH_MP2530F
	bool "MP2530/31F (MMSP2+) SoC"

endchoice

source "arch/arm/mach-mp2520f/Kconfig"
source "arch/arm/mach-mp2530f/Kconfig"

config MP25XXF_SHADOW_ENABLE
	depends on ARCH_MP2520F
	bool  "Enable Shadow Config Pin"
	help
	  Enable support for Shadow Config Pin of the CPU (Memory Configuration)

endif
