choice
        prompt "Board Type"
        default MACH_GP2X
		
config MACH_GP2X
	bool "GP2X Portable Console"
	select MP25XXF_SHADOW_ENABLE
	help
	  Say Y here if you intend to run this kernel on the GameparkHoldings GP2X portable console.

endchoice
